








body {
	font-family: arial, sans-serif;
	margin: 0;
	padding: 0;

	
}

p {
	font-size: 12px;
	line-height: 16px;
}

/* NAVIGATION */

nav {
	height: 45px;
	width: 100%;
	display: block;
}

ul {
	list-style: none;
	margin: 0;
	padding: 15px 0 0 50px;
	float: left;
}

li {
	color: darkgrey;
	float: left;
	display: inline;
	padding-right: 40px;
	font-size: 12px;
}

li a {
	color: darkgrey;
	text-decoration: none;
}

li a:hover {
	text-decoration: underline;
}

p a:link, a:visited {
	color: black;
	text-decoration: underline;
}

#current {
	text-decoration: underline;
}

#right {
	float: right;
}


/* LANDING PAGE */

#landing {
	margin: 0 auto;
}

#projects {
	max-width: 400px;
	margin: 0 auto;
}

.project {
	margin: 0 auto;
	
}

.project img {
	width: 400px;
	text-align: center;
}






/* COLOR BAR */
#s1, #s2, #s3 {
	height: 98%;
	overflow-y:hidden;
	overflow-x: scroll;
	white-space: nowrap;

	/*fix the white space between inline elements*/
	font-size: 0;
}

.image img {
	height: 100%;
}

	/*used inline elements so that they can overflow the container width*/
.bar {
	height: inherit;
	display: inline-block;
	position: relative;
}

.bar .time {
	position: absolute;
	text-align: center;
	width: 50%;
	left: 25%;
	top: 15px;
}

.bar .time {
	text-align: center;
	color: white;
	font-weight: bold;
}

.bar:hover .image {
	visibility: visible;
  	opacity: 1;
}


.image {
	visibility: hidden;
  	opacity: 0;

  	-webkit-transition: opacity 1.2s; 
  	-moz-transition: opacity 1.2s; 
  	-o-transition: opacity 1.2s; 
  	-ms-transition: opacity 1.2s; 
    transition: opacity 1.2s;
}


/* -------- SET 1 --------- */

/* Specifications for each bar */
#s1-one {
	background-color: rgb(179,165,158);
	width: 10%;
}

#s1-one:hover {
	width: 50%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s1-two {
	background-color: rgb(192,192,196);
	width: 10%;
}

#s1-two:hover {
	width: 50%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s1-three {
	background-color: rgb(209,207,211);
	width: 10%;
}

#s1-three:hover {
	width: 50%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s1-four {
	background-color: rgb(190,182,181);
	width: 10%;
}

#s1-four:hover {
	width: 50%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s1-five {
	background-color: rgb(152,101,58);
	width: 10%;
}

#s1-five:hover {
	width: 50%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s1-six {
	background-color: rgb(64,60,59);
	width: 10%;
}

#s1-six:hover {
	width: 50%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;;
}

#s1-seven {
	background-color: rgb(151,186,228);
	width: 10%;
}

#s1-seven:hover {
	width: 50%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s1-eight {
	background-color: rgb(181,200,215);
	width: 10%;
}

#s1-eight:hover {
	width: 50%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s1-nine {
	background-color: rgb(203,217,233);
	width: 10%;
}

#s1-nine:hover {
	width: 50%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s1-ten {
	background-color: rgb(226,210,204);
	width: 10%;
}

#s1-ten:hover {
	width: 50%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}





/* -------- SET 2 --------- */

/* Specifications for each bar */
#s2-one {
	background-color: rgb(156,111,89);
	width: 8.33%;
}

#s2-one:hover {
	width: 60%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s2-two {
	background-color: rgb(84, 100, 59);
	width: 8.33%;
}

#s2-two:hover {
	width: 60%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s2-three {
	background-color: rgb(223, 116, 24);
	width: 8.33%;
}

#s2-three:hover {
	width: 60%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s2-four {
	background-color: rgb(246, 221, 228);
	width: 8.33%;
}

#s2-four:hover {
	width: 60%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s2-five {
	background-color: rgb(48, 52, 29);
	width: 8.33%;
}

#s2-five:hover {
	width: 60%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s2-six {
	background-color: rgb(45, 69, 23);
	width: 8.33%;
}

#s2-six:hover {
	width: 60%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;;
}

#s2-seven {
	background-color: rgb(48, 123, 190);
	width: 8.33%;
}

#s2-seven:hover {
	width: 60%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s2-eight {
	background-color: rgb(153, 179, 93);
	width: 8.33%;
}

#s2-eight:hover {
	width: 60%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s2-nine {
	background-color: rgb(51, 66, 40);
	width: 8.33%;
}

#s2-nine:hover {
	width: 60%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s2-ten {
	background-color: rgb(211, 211, 187);
	width: 8.33%;
}

#s2-ten:hover {
	width: 60%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s2-eleven {
	background-color: rgb(48, 83, 47);
	width: 8.33%;
}

#s2-eleven:hover {
	width: 60%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s2-twelve {
	background-color: rgb(90, 212, 144);
	width: 8.33%;
}

#s2-twelve:hover {
	width: 60%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}




/* -------- SET 3 --------- */

/* Specifications for each bar */
#s3-one {
	background-color: rgb(211, 218, 227);
	width: 20%;
}

#s3-one:hover {
	width: 40%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s3-two {
	background-color: rgb(32, 45, 25);
	width: 20%;
}

#s3-two:hover {
	width: 40%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s3-three {
	background-color: rgb(109,142,197);
	width: 20%;
}

#s3-three:hover {
	width: 40%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s3-four {
	background-color: rgb(128, 124, 73);
	width: 20%;
}

#s3-four:hover {
	width: 60%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}

#s3-five {
	background-color: rgb(85, 107, 163);
	width: 20%;
}

#s3-five:hover {
	width: 40%;
	-webkit-transition: width 1.2s; 
	-moz-transition: width 1.2s; 
	-o-transition: width 1.2s; 
	-ms-transition: width 1.2s; 
    transition: width 1.2s;
}






/* ------------- ABOUT ------------------*/

header {
	text-align: center;
	padding: 50px 0 50px 0;
}

header h1 {
	font-size: 20px;
}

header h2 {
	font-size: 16px;
	font-weight: normal;
}

h3 {
	font-size: 12px;
	font-weight: bold;
}


#sets {
	text-align: center;
	max-width: 650px;
	margin: auto;
	padding: auto;
}

.set {
	width: 30%;
	float: left;
	padding: 10px 10px 60px 10px;
}

#sets p {
	font-style: italic;
}

#sets img {
	width: 100%;
	height: auto;
}

#sets a {
	text-decoration: none;
	color: black;
}

#sets a:hover {
	text-decoration: underline;
}


#about {
	text-align: center;
	max-width: 370px;
	margin: auto;
}

#about a {
	color: darkgrey;
}

#about .credit {
	font-style: italic;
}








img {
	width: 200px;
}


#testzone {
	position: relative;
}



.box {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;

	z-index: 100;
}



#testzone img {
	width: 200px;
	position: absolute;
	top: 0;
	left: 0;

	z-index: 0;
}




